{{!-- headeer section --}}
    <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand text-white" hSref="#"><i class="fa-regular fa-sun rotate_setting"></i>
            WeatherUpdates</a><i class="fa-regular fa-sun rotate_setting"></i>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <ul class="navbar-nav mr-auto mb-2 mb-lg-0"> -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link active text-white hover_class aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link text-white hover_class" href="/weather">weather</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white hover_class" href="/about">About us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>