<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 {{> links}}
</head>
{{> header}}
    <!-- second section  -->
    <div class="container-fluid margin_class">
        <div class="row">
          
          <div class="col-md-6">
            <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="images/weather1.jpg" class="w-100" alt="...">
                </div>
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-md-6 mb-3 mb-sm-0 card_margin order-last">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">welcome to <span class="text-primary">CWA</span>  site</h5>
    
                <p class="card-text">let discuss about web and android development because i also rely in this category</p>
                <a href="" class="btn btn-primary ">about us </a>
                
              </div>
            </div>
            <div class="text-center mt-3"> 
                <a href="https://www.linkedin.com/in/asad-bashir-772b73299?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"target="_blank"><i class="fab fa-linkedin fa-2x icon_setting"></i></a>
                <a href="https://github.com/Programmerworld55 "target="_blank"><i class="fa-brands fa-github icon_setting"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100071480297394&mibextid=ZbWKwL" target="_blank"><i class="fa-brands fa-facebook icon_setting"target="_blank"></i></a>
              <a href="https://instagram.com/assad8235?igshid=OGQ5ZDc2ODk2ZA=="target="_blank">  <i class="fa-brands fa-square-instagram icon_setting"></i></a>
                
            </div>
          </div>
          
      </div>
        </div>
        
     
     
      <!-- footer  -->
      <footer>
        <p>created with cwa </p>
      </footer>
</body>
</html>